<p style="color: green"><%= notice %></p>

<%= render @car %>

<div>
  <%= link_to "Edit this car", edit_driver_car_path(@car) %> |
  <%= link_to "Back to carss", driver_cars_path() %>

  <%= button_to "Destroy this car", driver_car_path(@car), method: :delete %>
</div>
